In [3]:
pip install nltk

Requirement already satisfied: nltk in d:\python3.11\lib\site-packages (3.8.1)
Requirement already satisfied: click in d:\python3.11\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in d:\python3.11\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in d:\python3.11\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in d:\python3.11\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\jaiprakash karwa\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\python3.11\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in d:\python3.11\lib\site-packages (from scikit-learn) (1.26.1)
Requirement already satisfied: scipy>=1.5.0 in d:\python3.11\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in d:\python3.11\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\python3.11\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
df=pd.read_csv("netflixData.csv")
df.head()

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Show Id             5967 non-null   object
 1   Title               5967 non-null   object
 2   Description         5967 non-null   object
 3   Director            3903 non-null   object
 4   Genres              5967 non-null   object
 5   Cast                5437 non-null   object
 6   Production Country  5408 non-null   object
 7   Release Date        5964 non-null   float64
 8   Rating              5963 non-null   object
 9   Duration            5964 non-null   object
 10  Imdb Score          5359 non-null   object
 11  Content Type        5967 non-null   object
 12  Date Added          4632 non-null   object
dtypes: float64(1), object(12)
memory usage: 606.2+ KB

In [10]:
# checking null values
# True means there is null value
df.isnull()

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,False,False,False,True,False,True,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,False,False,False,False,False,False,False,False,False,False,False,False,False
5963,False,False,False,True,False,False,True,False,False,False,True,False,True
5964,False,False,False,True,False,False,True,False,False,False,True,False,True
5965,False,False,False,False,False,False,False,False,False,False,False,False,False
5966,False,False,False,False,False,False,True,False,False,False,False,False,False

In [12]:
#count of null values for all of the columns
print(df.isnull().sum())

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [14]:
# all the column are not required for our problem statement 
# required column or attributes are Title,Description,Content Type,Genres
required_df=df[["Title","Description","Content Type","Genres"]]
required_df.head()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"

In [17]:
#Checking the count of null values
required_df.isnull().sum()

Title           0
Description     0
Content Type    0
Genres          0
dtype: int64

In [18]:
import nltk

In [34]:
from nltk.corpus import stopwords
import string

In [40]:
f=open("stopwords.txt",'r')
stopwords=f.read().splitlines()

In [35]:
# few words which are having high in frequency and low in impact are called stopwords including is,are etc.
# so we download that from nltk library and after remove that from our text
# there may be many long word that meaning is same as root word. The conversion of long word to its root word called stemmering
stemmer = nltk.SnowballStemmer("english")

In [42]:
# clean the data
import re
def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text

In [43]:
required_df["Title"]=required_df["Title"].apply(clean)

C:\Users\Jaiprakash Karwa\AppData\Local\Temp\ipykernel_12356\989662870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_df["Title"]=required_df["Title"].apply(clean)

In [44]:
print(required_df["Title"])

0                           unwel
1                            aliv
2       annefrank  parallel stori
3                         blackaf
4                    catsthemewvi
                  ...
5962                    الف مبروك
5963                 دفعة القاهرة
5964                         海的儿子
5965                      반드시 잡는다
5966           최강전사 미니특공대  영웅의 탄생
Name: Title, Length: 5967, dtype: object

In [45]:
genreList=required_df["Genres"].to_list()
# making a tfidf(term frequency and inverse document frequency) matrix
# each row represent a document
# each column represent different terms which is associated with that document
# and value represent how closely they are related
tfidf=text.TfidfVectorizer(stop_words="english")
tfidf_matrix = tfidf.fit_transform(genreList)
similarity = cosine_similarity(tfidf_matrix)
# we find the angle with the help of cosine similarity if toward 0 means high correlated

In [46]:
indices=pd.Series(required_df.index,index=required_df["Title"]).drop_duplicates()

In [50]:
def recommendation(title,similarity=similarity):
    index=indices[title]
    similarity_score=list(enumerate(similarity[index]))
    similarity_score = sorted(similarity_score, key=lambda x: x[1], reverse=True)
    similarity_score = similarity_score[0:10]
    movieindices = [i[0] for i in similarity_score]
    return required_df['Title'].iloc[movieindices]

In [54]:
print(recommendation("fitoor"))

5       friendbutmarri
6      friendbutmarri
33           week lago
50                 day
88         beauti life
127         love stori
143              chanc
267          ali  alia
284               love
306        alonetogeth
Name: Title, dtype: object